* {
    box-sizing: border-box;
}
.app {
    background-color:#F3F7FA;
}

.image {
    display: block;
    margin: 0   auto 50px;
    padding-top: 25px;
}

.app-content {
    display: flex;
    height: 100%;
    margin: 0 auto;
    max-width: 760px;
}

.tickets {
    display: flex;
    flex-direction: column;
}